.product-grid {
  --gap: 2rem;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --line-color: red;

  overflow: hidden;
  gap: var(--gap);
}

.product-grid-item {
  position: relative;
}

.product-grid-item::before,
.product-grid-item::after {
  content: "";
  position: absolute;
  /* background-color: var(--line-color); */
  z-index: 1;
}

.product-grid-item::after {
  inline-size: 100vw;
  block-size: var(--line-thickness);
  inset-inline-start: 0;
  inset-block-start: calc(var(--line-offset) * -1);
}

.product-grid-item::before {
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-inline-start: calc(var(--line-offset) * -1);
}
